@{
    ViewData["Title"] = "PC Repair Services";
}


<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<img src="~/images/mad-scientist_tmb.JPG" class="img-thumbnail" alt="Mad Scientist" />
<h2>RacerXX14 Computer Repair</h2>
<p>Repairing and building computers of all types</p>
<ul>
    <li>Virus removal done right!</li>
    <li>Battery replacement and storage upgrades</li>
    <li>Home Theater Consulting</li>
    <li>Network Troubleshooting</li>
    <li>Handcrafted desktop computers</li>
    <li>Accessability and Disability Needs Computing</li>
</ul>
