@{
    ViewData["Title"] = "Privacy Policy";
}
<h2>@ViewData["Title"]</h2>

<p>Our privacy policy is simple: we don't share your data with anyone</p>
<p>Enjoy your worry free shopping experience!</p>
